.switch {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--title-color);
}

.switch__label {
    text-transform: uppercase;
    letter-spacing: 0.1667rem;
}

.switch__icon {
    cursor: pointer;
}
