.search-bar {
    width: 100%;
    background: var(--background-secondary-color);
    padding: 1.3333rem 1.0667rem;
    border-radius: 15px;
    box-shadow: var(--shadow-light);
}

.search-bar__input {
    border: 0;
    font-size: var(--body-fs);
}

.search-bar__button{
    background: var(--secondary-light-color);
    color: var(--background-secondary-color);
    padding: 0.8333rem 1.0667rem ;
    border: 0;
    border-radius: 10px;

}