.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 48.6667rem;
    height: 100vh;
    padding: 0 1.6rem;
}

.github-user-search{
    width: 100%;
}