.profile-card {
    display: flex;
    gap: 37px;

    padding: 3.2rem;
    margin-top: var(--mg-4);
    
    border-radius: 15px;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
}

.profile-card__image {
    width: 7.8rem;
    height: 7.8rem;

    border-radius: 50%;
}

.profile-card__avatar {
    display: flex;
    gap: 1.3rem;

}

.profile-card__avatar * {
    margin: 0;

}

.profile-card__info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

@media screen and (max-width: 777px) {
    .profile-card{
        flex-direction: column;
        gap: 0;
        padding: 2.1333rem 1.6rem;
    }

    .profile-card__info {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .profile-card__image {
        width: 4.6667rem;
        height: 4.6667rem;
    }
}

.profile-card__username {
    font-size: var(--body-fs);
    color: var(--secondary-color);
}

.profile-card__stats {
    display: flex;
    justify-content: space-around;
    gap: 0.8rem;
    padding: 1.2rem 0.9333rem;
    background: var(--background-color);
    border-radius: 10px;
}

.profile-card__stat {
    display: flex;
    flex-direction: column;
}

.profile-card__links {
    display: grid;
    grid-template-columns: repeat(auto-fit, 227px);
    gap: 1.1333rem;
    margin-top: 32px;
}

.profile-card__body {
    width: 100%;
}


.profile-card__link {
    display: grid;
    grid-template-columns: 20px auto;
    align-items: center;
    gap: 1.3333rem;

    color: var(--text-color);
    text-decoration: none;
}

.profile-card__link--disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.profile-card__value {
    font-weight: bold;
}

.profile-card__name {
    font-size: 1.7333rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin-top: 0;
    margin-bottom: 2px;
    color: var(--title-color);
}

.profile-card__description {
    margin-bottom: 32px;
    color: var(--text-color);
}

.profile-card__title {
    font-size: 13px;
    color: var(--text-color);
}

.profile-card__value {
    color: var(--title-color);
}

.profile-card__date {
    margin-top: 0;
    color: var(--title-color);
}

html.dark-theme .profile-card__icon {
    filter: brightness(4);
}