.profile-card {
    padding: 2.1333rem 1.6rem;
    margin-top: var(--mg-4);
    
    border-radius: 15px;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
}

.profile-card__image {
    max-width: 4.6667rem;
    max-height: 4.6667rem;

    border-radius: 50%;
}

.profile-card__avatar {
    display: flex;
    gap: 1.3rem;

}

.profile-card__avatar * {
    margin: 0;

}

.profile-card__info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

@media screen and (max-width: 777px) {
    .profile-card__info {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.profile-card__username {
    font-size: var(--body-fs);
    color: var(--secondary-color);
}

.profile-card__stats {
    display: flex;
    justify-content: space-around;
    gap: 0.8rem;
    padding: 1.2rem 0.9333rem;
    background: var(--background-color);
    border-radius: 10px;
}

.profile-card__stat {
    display: flex;
    flex-direction: column;
}

.profile-card__links {
    display: grid;
    grid-template-columns: repeat(auto-fit, 308px);
    gap: 1.1333rem;
    margin-top: var(--mg-4);
}



.profile-card__link {
    display: grid;
    grid-template-columns: 20px auto;
    align-items: center;
    gap: 1.3333rem;

    color: var(--text-color);
    text-decoration: none;
}

.profile-card__value {
    font-weight: bold;
}

.profile-card__name, .profile-card__date, .profile-card__title, .profile-card__value, .profile-card__description {
    color: var(--title-color);
}